<div class="navbar">
          <a class="navbar-brand" href='<%= maps_path %>'>
          Search
          </a>
          <div>
            <%= link_to "Messages", "#", class: "nav-link" %>
          </div>
        <% if user_signed_in? %>
          <div>
            <%= link_to "Bookings", "#", class: "nav-link" %>
          </div>
          <div>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        <% else %>
          <div>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </ul>
    </div>
</div>
